<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Create Quiz</title>
    {{> header}}

</head>
<body class="layout-sticky-subnav layout-default ">

    {{> preloader}}

    <!-- Header Layout -->
        {{> headernav-v2}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">
            <div class="pt-32pt">
                <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    <div class="flex d-flex flex-column flex-sm-row align-items-center">

                        <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                            <h2 class="mb-0">Create Quiz</h2>

                            <ol class="breadcrumb p-0 m-0">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                                <li class="breadcrumb-item active">

                                    Create Quiz

                                </li>

                            </ol>

                        </div>
                    </div>


                </div>
            </div>
            <div class="page-section border-bottom-2">
                <div class="container page__container">
                    <div class="row align-items-start">
                        <div class="col-md-8">
                            <!-- <div class="page-separator">
                                <div class="page-separator__text">Quiz Name</div>
                            </div>
                            <form method="POST" action="/instructor/update-title-name">   
                                <input type="text" name="quizName" placeholder="Quiz Title">
                                <input type="hidden" name="quizId">
                                <button type="submit">Save Title Name</button>
                            </form> -->
                            <!-- <div class="page-separator">
                                <div class="page-separator__text">Questions</div>
                            </div> -->
                            <div class="page-separator">
                                <div class="page-separator__text">New Quiz</div>
                            </div>
                            <div class="card card-body">
                                <form method="POST" action="/instructor/instructor-create-quiz">   
                                    <div class="form-group">
                                        <label class="form-label">Quiz Title</label>
                                        <input type="text" class="form-control" placeholder="Quiz Title" name="quizTitle" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="page-separator">
                                            <div class="page-separator__text">Question 1</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Question</label>
                                            <small class="form-text text-muted">Shortly describe the question.</small>
                                            <!-- <textarea class="form-control" rows="3" placeholder="Question"></textarea> -->
                                            <div style="height: 150px;" class="mb-0" data-toggle="quill" data-quill-placeholder="Question" name="questionField1" required>
                                                An angular 2 project written in typescript is* transpiled to javascript duri*ng the build process. Which of the following additional features are provided to the developer while programming on typescript over javascript?
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="select01">Answers</label>
                                            <input type="text" class="form-control" placeholder="Quiz Choice A" name="choiceA1" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice B" name="choiceB1" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice C" name="choiceC1" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice D" name="choiceD1" required>
                                            <label class="form-label" for="select01">Correct Answer</label>
                                            <input type="text" class="form-control" placeholder="Correct Answer (A, B, C, D)" name="correctAnswer1" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="page-separator">
                                            <div class="page-separator__text">Question 2</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Question</label>
                                            <small class="form-text text-muted">Shortly describe the question.</small>
                                            <!-- <textarea class="form-control" rows="3" placeholder="Question"></textarea> -->
                                            <div style="height: 150px;" class="mb-0" data-toggle="quill" data-quill-placeholder="Question" name="questionField2" required>
                                                An angular 2 project written in typescript is* transpiled to javascript duri*ng the build process. Which of the following additional features are provided to the developer while programming on typescript over javascript?
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="select02">Answers</label>
                                            <input type="text" class="form-control" placeholder="Quiz Choice A" name="choiceA2" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice B" name="choiceB2" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice C" name="choiceC2" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice D" name="choiceD2" required>
                                            <label class="form-label" for="select02">Correct Answer</label>
                                            <input type="text" class="form-control" placeholder="Correct Answer (A, B, C, D)" name="correctAnswer2" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="page-separator">
                                            <div class="page-separator__text">Question 3</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Question</label>
                                            <small class="form-text text-muted">Shortly describe the question.</small>
                                            <!-- <textarea class="form-control" rows="3" placeholder="Question"></textarea> -->
                                            <div style="height: 150px;" class="mb-0" data-toggle="quill" data-quill-placeholder="Question" name="questionField3" required>
                                                An angular 2 project written in typescript is* transpiled to javascript duri*ng the build process. Which of the following additional features are provided to the developer while programming on typescript over javascript?
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="select03">Answers</label>
                                            <input type="text" class="form-control" placeholder="Quiz Choice A" name="choiceA3" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice B" name="choiceB3" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice C" name="choiceC3" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice D" name="choiceD3" required>
                                            <label class="form-label" for="select03">Correct Answer</label>
                                            <input type="text" class="form-control" placeholder="Correct Answer (A, B, C, D)" name="correctAnswer3" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="page-separator">
                                            <div class="page-separator__text">Question 4</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Question</label>
                                            <!-- <textarea class="form-control" rows="3" placeholder="Question"></textarea> -->
                                            <small class="form-text text-muted">Shortly describe the question.</small>
                                            <div style="height: 150px;" class="mb-0" data-toggle="quill" data-quill-placeholder="Question" name="questionField4" required>
                                                An angular 2 project written in typescript is* transpiled to javascript duri*ng the build process. Which of the following additional features are provided to the developer while programming on typescript over javascript?
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="select04">Answers</label>
                                            <input type="text" class="form-control" placeholder="Quiz Choice A" name="choiceA4" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice B" name="choiceB4" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice C" name="choiceC4" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice D" name="choiceD4" required>
                                            <label class="form-label" for="select04">Correct Answer</label>
                                            <input type="text" class="form-control" placeholder="Correct Answer (A, B, C, D)" name="correctAnswer4" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="page-separator">
                                            <div class="page-separator__text">Question 5</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Question</label>
                                            <!-- <textarea class="form-control" rows="3" placeholder="Question"></textarea> -->
                                            <small class="form-text text-muted">Shortly describe the question.</small>
                                            <div style="height: 150px;" class="mb-0" data-toggle="quill" data-quill-placeholder="Question" name="questionField5" required>
                                                An angular 2 project written in typescript is* transpiled to javascript duri*ng the build process. Which of the following additional features are provided to the developer while programming on typescript over javascript?
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="select05">Answers</label>
                                            <input type="text" class="form-control" placeholder="Quiz Choice A" name="choiceA5" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice B" name="choiceB5" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice C" name="choiceC5" required>
                                            <input type="text" class="form-control" placeholder="Quiz Choice D" name="choiceD5" required>
                                            <label class="form-label" for="select05">Correct Answer</label>
                                            <input type="text" class="form-control" placeholder="Correct Answer (A, B, C, D)" name="correctAnswer5" required>
                                        </div>
                                        <div class="page-separator">
                                            <div class="page-separator__text">Assign to Student</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Student Email Address</label>
                                            <input type="text" class="form-control" placeholder="Student Email Address" name="emailAdd" required>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <button class="btn btn-accent form-group" type="submit"> Create Quiz </button>
                                    </div>
                                 </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // END Header Layout Content -->


        {{> footer}}

    </div>
<!-- // END Header Layout -->

    <!-- Start drawer -->
    {{> drawer}}
    <!-- // END drawer -->


    <!-- jQuery -->
    <script src="../assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="../assets/vendor/popper.min.js"></script>
    <script src="../assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="../assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="../assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="../assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="../assets/vendor/fix-footer.js"></script>

    <!-- App JS -->
    <script src="../assets/js/app.js"></script>


    <!-- Quill -->
    <script src="../assets/vendor/quill.min.js"></script>
    <script src="../assets/js/quill.js"></script>
    <!-- Select2 -->
    <script src="../assets/vendor/select2/select2.min.js"></script>
    <script src="../assets/js/select2.js"></script>

    <!-- Highlight.js -->
    <script src="../assets/js/hljs.js"></script>

</body>

</html>    